    <nav class="navbar navbar-default navbar-fixed-bottom">
        <footer class="footer">
            <div class="container">
                <p>Fairman Kitchen recipe website created April 2020. See <a href="#">documentation</a> for more information</p>
            </div>
        </footer>
    </nav>
    </body>
</html>