        <footer class="navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <p>Fairman Kitchen recipe website created April 2020. See <a href="#">documentation</a> for more information</p>
            </div>
        </footer>

    </body>
</html>