<%- include("./partials/header") %>

<div class="container">
        <div class="row">
            <div style="width: 30%; margin: 25px auto;">
                <form action="/login" method="POST">
                    <legend>Log In</legend>
                    <div class="form-group">
                        <input class="form-control" type="text" name="username" placeholder="username">
                    </div>
                    <div>
                        <input class="form-control" type="password" name="password" placeholder="password">
                    </div>
                    <div id="mrgn" class="form-group">
                        <button class="btn btn-lg btn-danger btn-block">Login</button>
                    </div>
                </form>
                <a href="/forgot">Forgot Password</a>
            </div>
        </div>
    </div>

<%- include("./partials/footer") %>