body{
    font-family: 'Rokkitt';
    background-color: #EFEFEF;
}

a{
    color: #FF3B3F;
}

.btn{
    background-color: #FF3B3F;
}

.glyphicon{
    color: #FF3B3F;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form{
    display: inline;
}

#mrgn{
    margin-top: 20px;
}

#pd{
    padding: 9px;
}

.footer{
    text-align: center;
    margin-top: 15px;
}

.caption .btn{
    width: 100%;
    text-align: center;
}

.thumbnail-title{
    text-align: center;
}

#main-size{
    width: 350px;
    height: 400px;
}

#recipe-size{
    width: 350px;
    height: 400px;
}

.navbar{
    background-color: #CAEBF2;
}

.navbar .navbar-brand{
    color: rgb(90, 90, 90);
}

.navbar-default .navbar-nav > li > a {
    color: rgb(90, 90, 90);
}

.panel-default .panel-heading{
    background-color: #FF3B3F;
    color: #EFEFEF;
}

.badge{
    background-color: #FF3B3F;
}

#success{
    background-color: rgb(163, 216, 228);
    color: black;
}

#danger{
    background-color: rgb(231, 129, 131);
    color: black;
}


/* Colors
Dusty       #96858F
Lavendar    #6D7993
Overcast    #9099A2
Paper       #D5D5D5

Sky         #CAEBF2
Carbon      #A9A9A9
Watermelon  #FF3B3F
Neutral     #EFEFEF

Terracotta  #945D60
Herb        #626E60
Chilli      #AF473C
Charcoal    #3C3C3C

*/