
.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form{
    display: inline;
}

#mrgn{
    margin-top: 20px;
}

#pd{
    padding: 9px;
}

.footer{
    text-align: center;
    margin-top: 15px;
}

.caption .btn{
    width: 100%;
    text-align: center;
}

.thumbnail-title{
    text-align: center;
}

/* .navbar{
    background: linear-gradient(to right, #f7971e, #ffd200);
} */

.navbar{
    background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
}

.navbar .navbar-brand{
    color: black;
}

.navbar-default .navbar-nav > li > a {
    color: black;
}

.container .row .col-md-3 .panel-default .panel-heading{
    background-color:  #ff99cc;
}
